.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
	/* background image with overlay */
	/* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../assets/images/skyimg1.jpg); */
	background-image: url(../assets/images/skyimg1.jpg);
	background-size: 100%;
}

.heading {
	font-size: 3em;
	margin-bottom: 3em;
	color: #fff;
}

.locationForm {
	display: flex;
	gap: 1em;
	width: 100%;
	max-width: 800px;
}

.locationInput {
	padding: 1em;
	border-radius: 3px;
	color: #fff;
	width: 100%;
	font-size: 1em;
	background-color: #ffffff5d;
	border: 1px solid #ffffff43;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
}

.locationInput::placeholder {
	color: #fff;
}

.searchButton {
	border-radius: 3px;
	padding: 1em;
	cursor: pointer;
	color: #fff;
	background-color: #ffffff5d;
	border: 1px solid #ffffff43;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
}

.searchButton:hover {
	background-color: #e3e3e35d;
	box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.25);
}

.weatherDisplay {
	margin-top: 2em;
	background-color: #ffffff5d;
	border-radius: 3px;
	padding: 1em;
	width: 100%;
	max-width: 800px;
	border: 1px solid #ffffff43;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
}

.todayContent {
	display: flex;
	margin-top: 1em;
	gap: 1em;
}

.todayContent svg {
	color: yellow;
	width: 4em;
	height: 4em;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 0.6em;
}
